body {
    background-color: rgb(233, 233, 177);
    padding: 30px;
    margin: 10px;
}

#Function {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-weight: 900;
    color: rgb(78, 15, 80);
}

P {
    font-size: 24px;
    font-style: italic;
}
